<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    
        <title>Cheat Sheet</title>
        
        <!-- Custom styles for Code Snipets -->
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="/static/css/carousel.css" rel="stylesheet">
      </head>
    <body>
      
    <!--START OF HEADER-->

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #285c7e;">
        <a class="navbar-brand" href="/index.html">Cyber Security</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link " href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Plans</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/PSWorkPlan.html">PowerShell Security</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scripts</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/PSScripts.html">PowerShell Scripts</a>
                    <a class="dropdown-item" href="/SplunkScripts.html">Splunk Scripts</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Misc</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item active" href="/CheatSheet.html">Logging Cheat Sheets</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
      </nav>
    </header>

    <!--END OF HEADER-->

        <main role="main" class="container" id="#top">
            <h1 class="mt-5">Splunk Cheat Sheet Repository</h1>
            <p class="lead">Help your self.</p>
            <p>Back to the<a href="/PSWorkPlan.html"> PowerShell Work Plan</a> page.</p>
            
            <div>
                <h2>PDF Cheat Sheets</h2>
                <a href="static/pdf/Windows_Advanced_Logging_Cheat_Sheet.pdf" target="_blank">Windows Advanced Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_ATT&CK_Logging_Cheat_Sheet.pdf" target="_blank">Windows ATT&CK Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_File_Auditing_Logging_Cheat_Sheet.pdf" target="_blank">Windows File Auditing Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_Logging_Cheat_Sheet.pdf" target="_blank">Windows Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_PowerShell_Logging_Cheat_Sheet.pdf" target="_blank">Windows PowerShell Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_Splunk_Logging_Cheat_Sheet.pdf" target="_blank">Windows Splunk Logging Cheat Sheet</a><br>
                <a href="static/pdf/Windows_Sysmon_Logging_Cheat_Sheet.pdf" target="_blank">Windows Sysmon Logging Cheat Sheet</a>
            </div>

      <!-- FOOTER -->
      <hr class="featurette-divider">
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; By Rotem Simhi</p>
      </footer>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>

    </body>
</html>