<!DOCTYPE html>
<html>
    <head>
        <title>ERROR</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/logo.png">
    </head>
    <body>
        <div class="wrapper">
            <div class="headline">Page Not Found</div>
            <br>
            <div class="nav_bar">
                <a href='/index.html' class='nav_bar_option'>Homepage</a> | 
                <a href='/PSWorkPlan.html' class='nav_bar_option'>PS Workplan</a> | 
                <a href='/PSScripts.html' class='nav_bar_option'>PowerShell Scripts</a> | 
                <a href='/SplunkScripts.html' class='nav_bar_option' >Splunk Scripts</a> | 
                <a href='/CheatSheet.html' class='nav_bar_option'>CheatSheets</a> 
            </div>
            <div class="error_middle_page">
                <h1 id="heb">אופסי פופסי...</h1><br>
                <img class="error" src="/static/image/404_1.jpg" width="400" height="400">
            </div>
            <div class="push"></div>
        </div>
        <footer class='footer'>By Rotem Simhi &copy;</div>
    </body>
</html>